body {
    text-align: center;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.product-container {
    display: flex;
    flex-wrap: wrap;

    .product {
        flex: 0 0 20%;
        border: grey solid 1px;
    }
    
    .product-image {
        width: 100%;
    }
}