/* base styles */
body {
  text-align: center;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.line-through {
  text-decoration: line-through;
}

h3 {
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  box-shadow: 0 5px 5px grey;
  background-color: white;
}

.navbar-bar {
  padding: 2.5px;
}

.flex {
  display: flex;
}

.flex-b-33 {
  flex-basis: 33%
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end
}
/* end of base styles */

/* index styles */
.product-container {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
}
.product-container .product {
  flex: 0 0 20%;
  border: grey solid 1px;
}
.product-container .product-image {
  width: 100%;
}
/* end of index styles */