
{% extends "base.html" %}

{% block title %} 
    Config Page 
{% endblock %}

{% block content %}
    <h1>Config page</h1>
    <form name="form-config" id="form-config">
        <div style="padding-bottom:1rem;">
        <p>Gender</p>
            {% for gender in genders %}
                <div style="display:inline-block;width:10%">
                    <label for="{{gender.id}}">{{gender.name}}</label>
                    <input id="{{gender.id}}" name="gender" type="radio" value="{{gender.id}}"
                        {% if user_settings.gender == gender.id %} checked {% endif %}
                    />
                </div>
            {% endfor %}
        </div>
        <p>Categories</p>
            {% for category in categories %}
                <div style="display:inline-block;width:10%">
                    <label for="{{category.id}}">{{category.name}}</label>
                    <input id="{{category.id}}" name="category" type="radio" value="{{category.id}}"
                        {% if user_settings.category == category.id %} checked {% endif %}
                    />
                </div>
            {% endfor %}
        </div>
        <div style="padding-bottom:1rem;" id="container-websites">
            <p>Websites</p>
            {% for website in websites %}
            <div style="padding-bottom:0.5rem;">
                <label for="{{website.id}}">{{website.name}}</label>
                <input id="{{website.id}}" name="{{website.id}}" type="checkbox" value="True" 
                    {% if website.id in user_settings.websites %} checked {% endif %} 
                />
            </div>
            {% endfor %}
        </div>
        <div class="footer">
            <button type="submit">
                Save settings
            </button>
            <a href="{{url_for('index')}}" style="display:block; margin-top:1rem">
                Cancel changes
            </a>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/config_script.js') }}"></script>
{% endblock %}