
{% extends "base.html" %}

{% block title %} 
    Config Page 
{% endblock %}

{% block content %}
    <h4 class="mb-3">
        Config Page
    </h4>
    <form name="form-config" id="form-config">
        <div>
            <h5>Gender</h5>
            <div class="field">
                <div class="control has-text-centered">
                    {% for gender in genders %}
                        <label class="radio">
                            <input type="radio" name="gender_id" value="{{gender.id}}"
                                {% if user_settings.gender_id == gender.id %} checked {% endif %}
                            />
                            {{gender.name}}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
            <h5>Categories</h5>
            <div class="field">
                <div class="control has-text-centered">
                    {% for category in categories %}
                        <label class="radio">
                            <input type="radio" name="category_id" value="{{category.id}}"
                                {% if user_settings.category_id == category.id %} checked {% endif %}
                            />
                            {{category.name}}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="padding-bottom:1rem;" id="container-websites">
            <h5>Websites</h5>
            {% for website in websites %}
            <div style="padding-bottom:0.5rem;">
                <label for="{{website.id}}">{{website.name}}</label>
                <input type="checkbox" id="{{website.id}}" name="{{website.id}}" value="True" 
                    {% if website.id in user_settings.website_ids %} checked {% endif %} 
                />
            </div>
            {% endfor %}
        </div>
        <div class="footer">
            <button class="btn btn-primary" type="submit">
                Save settings
            </button>
            <a class="button" href="{{url_for('index')}}">
                Cancel changes
            </a>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='config_script.js') }}"></script>
{% endblock %}