{% extends "base.html" %}

{% block title %} 
    Python Clothes
{% endblock %}

{% block content %}
    <h3>Python Clothes</h3>
    <a href="{{url_for('config')}}">
        Config Page
    </a>
    {% if user_settings.current_page != '1' %}
        <a href="{{url_for('index')}}">
            Previous Page
        </a>
    {% endif %}
    <a href="{{url_for('index')}}?page=2">
        Next Page
    </a>
    <div class="product-container">
        {% for website in websites %}
            {% if website.id in user_settings.websites %}
                {% for url in website.urls %}
                    {% if url.gender == user_settings.gender and url.category == user_settings.category %}
                        {% for item in url.clothes %}
                            <div class="product">
                                <p>{{item.name}}</p>
                                <p>{{item.price}}</p> 
                                <p style="font-size:0.75rem;color:grey">{{website.name}}</p>
                                <a href="{{item.link}}" target="_blank">
                                    <img class="product-image" data-src="{{item.img}}">
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script>
    <script>
        new LazyLoad();
    </script>
{% endblock %}